@import "compass";

// Colours
$font-color: #222222; //charcoal

$background: #ccc;
$foreground: #fff;

$nav-colour: lighten(blue, 40%);

//Struct
$container-width: 1200px;
$margin-baseline: 5px;

//Classes
.button {
	@include box-shadow(0px 0px 3px #000);
	@include transition(color 0.2s ease-in-out);
	@include transition(text-shadow 0.2s ease-in-out);

	background: $nav-colour;
	border: 1px solid #ccc;
	color: #000;
	float: right;
	padding: 10px;
	text-decoration: none;

	&:hover {
		@include box-shadow(0 0 1px #000);
		@include transition(color 0.2s ease-in-out);
		@include transition(text-shadow 0.2s ease-in-out);
		
		
		color: #fff;
		text-shadow: 0px 0px 6px #000;

	}
}
