@import "variables";

html{
	font-size: 62.5%;
}

body {
	background: $background;
	color: $font-color;
	font-family: arial;
	font-size: 1.4em;
}

.container {
	background: $foreground;
	border: 1px solid #aaa;
	width: 1020px;
	margin: auto;
	padding: 0 20px 20px;
	overflow: hidden;
}

header {
	margin-bottom: 40px;
	
	h1 {
		font-size: 3em;
		margin-bottom: $margin-baseline;
	}
	
	p {
		font-size: 2em;
		margin: 0;
	}
}

#leftnav {
	background: $background;
	float: left;
	width: 19%;
	margin-right: 1%;
	ul {
		background: $foreground;
		padding: 0;
		margin: $margin-baseline;
		overflow: hidden;
		li {
			list-style: none;
			margin: 5px;
			a {
				text-decoration: none;
				margin: 5px 0;
				padding: 5px;
				background: $nav-colour;
				display: block;
			}

			&.slice {
				a {color: #fff;}
				
			}
		}
		
		
	}
}

	/* Left nav levels */
	$level: 7;
	$x: 5%;
	@while $level > -1 {

		#leftnav ul li.level-#{$level} a {
			background-color: darken($nav-colour, $x);
		}

		$x: $x + 4 !global;
		$level: $level - 1 !global;
	}


section {
	background: $background;
	float: left;
	overflow: hidden;
	width: 80%;
	margin-bottom: 20px;
	
	
	article {
		background: $foreground;
		margin: $margin-baseline;
		padding: 5px 10px 20px;
		overflow: hidden;
	}
}
.greenbutton {
	@extend .button;
	background: lighten(green, 30%);
	
	&:hover {
		color: #000;
	}
}

.redbutton {
	@extend .button;
	background: lighten(red, 30%);
}

footer {
	clear: both;
	overflow: hidden;
	background: $background;
	margin: $margin-baseline 0;

	p {
		background: $foreground;
		padding: 10px;
		margin: $margin-baseline;
	}
}